faker
openai
pyDOE
pytorch_lightning
scikit-learn
scipy
keras
torch
tqdm
torchmetrics
transformers
wandb
pandas
numpy
python-dotenv
seaborn
matplotlib
scipy-stats
boxplot
statsmodels
tensorflow
requests
    